@import url("./reset.css");
@import url("./typography.css");
@import url("./button.css");

body {
   background-color: rgb(61, 160, 244);
   background: linear-gradient(0deg, rgb(47, 127, 202, 1) 0%, rgb(166, 234, 255, 1) 50%, rgb(50, 100, 200, 1) 100%);
   background-repeat: no-repeat;
   height: 100vh;
   margin: 0 auto;
}

#container {
   display: flex;
   flex-direction: column;
}

#points {
   background-color: black;
   color: white;
   text-align: center;
   width: 100%;
   margin: 0 auto;
   padding: 0;
}

#wizard {
   z-index: 100;
   position: absolute;
   width: 82px;
   height:100px;
   background-image: url(/images/wizard.png);
   background-size: cover;
}

.hidden {
   display: none;
}

.fireball {
   z-index: 100;
   position: absolute;
   width: 30px;
   height: 30px;
   background-image: url(/images/fire-ball.png);
   background-size: cover;
}